<template>
  <h1>Search GIFs</h1>

  <the-searchbar @search-form="getGifs" />

  <the-spinner v-show="loading" />

  <div class="row">
    <div v-for="gif in gifs" :key="gif.id" class="col-12 col-md-4 g-3">
      <the-card :gif="gif" />
    </div>
  </div>
</template>

<script>
import TheCard from "../components/TheCard.vue";
import TheSearchbar from "../components/TheSearchbar.vue";
import TheSpinner from "../components/TheSpinner.vue";

import swal from "sweetalert2";
export default {
  components: { TheCard, TheSearchbar, TheSpinner },
  data: () => ({
    gifs: [],
    loading: true,
  }),
  created() {
    this.getGifs();
  },
  methods: {
    async getGifs(searchTerm = "pokemon") {
      if (searchTerm.trim() === "") {
        swal.fire({
          title: "Sin Busqueda",
          icon: "error",
          showConfirmButton: false,
          showCloseButton: true,
          timer: 3000,
          timerProgressBar: true,
        });
        return;
      }

      this.loading = true;
      this.gifs = [];

      const URL = `https://api.giphy.com/v1/gifs/search?api_key=VQnXe6ODYseYkKBYMgj5lE3Vz9CESFpf&q=${searchTerm}`;
      const res = await fetch(URL);
      const { data } = await res.json();

      this.gifs = data;
      this.loading = false;
    },
  },
};
</script>

<style></style>
