<template>
  <h1>GIFs Router</h1>

  <the-spinner v-show="loading" />
  <img :src="img" :alt="name" />
</template>

<script>
import TheSpinner from "../components/TheSpinner.vue";
export default {
  components: { TheSpinner },
  data: () => ({
    img: "",
    name: "",
    loading: true,
  }),
  created() {
    this.getRandomGif();
  },
  methods: {
    async getRandomGif() {
      this.loading = true;
      this.img = "";

      const URL =
        "https://api.giphy.com/v1/gifs/random?api_key=VQnXe6ODYseYkKBYMgj5lE3Vz9CESFpf";
      const res = await fetch(URL);
      const { data } = await res.json();

      this.img = data.images.original.url;
      this.name = data.title;
      this.loading = false;
    },
  },
};
</script>
