<template>
  <h1>Search Stickers</h1>

  <the-searchbar @search-form="getStickers" />

  <the-spinner v-show="loading" />

  <div class="row">
    <div
      v-for="sticker in stickers"
      :key="sticker.id"
      class="col-12 col-md-4 g-3"
    >
      <the-card :gif="sticker" />
    </div>
  </div>
</template>

<script>
import TheCard from "../components/TheCard.vue";
import TheSearchbar from "../components/TheSearchbar.vue";
import TheSpinner from "../components/TheSpinner.vue";

import swal from "sweetalert2";
export default {
  components: { TheCard, TheSearchbar, TheSpinner },
  data: () => ({
    stickers: [],
    loading: true,
  }),
  created() {
    this.getStickers();
  },
  methods: {
    async getStickers(searchTerm = "pokemon") {
      if (searchTerm.trim() === "") {
        swal.fire({
          title: "Sin Busqueda",
          icon: "error",
          showConfirmButton: false,
          showCloseButton: true,
          timer: 3000,
          timerProgressBar: true,
        });
        return;
      }

      this.loading = true;
      this.stickers = [];

      const URL = `https://api.giphy.com/v1/stickers/search?api_key=VQnXe6ODYseYkKBYMgj5lE3Vz9CESFpf&q=${searchTerm}`;
      const res = await fetch(URL);
      const { data } = await res.json();

      this.stickers = data;
      this.loading = false;
    },
  },
};
</script>

<style></style>
