<template>
  <form @submit.prevent="getData" class="row mb-3 g-3 justify-content-center">
    <div class="col-auto">
      <label class="col-form-label">Search: </label>
    </div>
    <div class="col-auto">
      <input v-model.trim="searchTerm" class="form-control" type="text" />
    </div>
    <div class="col-auto">
      <button class="btn btn-warning fw-bold" type="submit">Search</button>
    </div>
  </form>
</template>

<script>
export default {
  data: () => ({
    searchTerm: "",
  }),
  methods: {
    getData() {
      this.$emit("search-form", this.searchTerm);
      this.searchTerm = "";
    },
  },
};
</script>

<style></style>
