<template>
  <the-navbar />
  <div class="container mt-3 text-center"><router-view /></div>
</template>

<script>
import { RouterView } from "vue-router";
import TheNavbar from "./components/TheNavbar.vue";

export default {
  components: {
    RouterView,
    TheNavbar,
  },
};
</script>

<style scoped>
div {
  border-radius: 13px;
  box-shadow: 3px 3px 7px #ccc;
  padding: 1rem;
}
</style>
